*{
    background-color: black;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: white;

    
}
.mobile{
    display: none;
}
/* -------------------NAV_BAR-------------------- */

.nav-holder{
    
    display: flex;
    justify-content: end;
    list-style: none;
    margin-top: 15px;
    margin-right: 2%;
    
    
    
}

.nav-holder a{
    text-decoration: none;
    font-size: 18px;
    margin-right: 30px;  
    position: relative;  
}

.nav-holder a::after{
    content: ""; 
     
    width: 0;
    height: 3px;
    background-color: brown;
    position: absolute;
    left: 50%;
    bottom: -6px;
    
    
}

.nav-holder a:hover::after{
    left: 0;
    width: 100%;
    transition: 0.5s;
    
    
}



/* ------------------------MEDIA_QUERIES------------------------ */


@media (max-width:680px){
    nav{
        display: none;
    }
    .mobile{
        display: flex;
        justify-content: end;
    }
    .trigram{
        display: block;
        font-size: 25px;
        margin-right: 2%;
        text-decoration: none;
    }
    

}