*{
    background-color: black;
    margin: 0;
    font-family: 'Lato', sans-serif;
    color: white;
    
}
/* -------------------NAV_BAR-------------------- */
.nav-item a{
    color: white;
    list-style: none;
    text-decoration: none;
    /* margin-right: 40px; */
    font-size: 25px;
}

.nav-item a:hover{
    transition-duration: 0.5s;
    border-bottom: 2px solid red;
    /* transition: width; */
    
    
}

.nav-item{
    display: inline;
}
.nav-holder{
    position: absolute;
    
    padding: 0;
    display: inline-block;
    margin-top: 25px;
    /* padding-right: 100px; */
    width: 100%;
    text-align: right;
    right: 100px;
}

.nav-bar{
    display: block;
    /* border: 1px solid white; */
}

.container{
    display: inline-block;
    width: 5%;
}
.underline{
    
    width: 60%;
    height: 1px;
    position: relative;
    bottom: 1px;
    background-color: red;
    left: 38%;
    animation: gifty;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    
   
}
@keyframes gifty{
    from{
        width: 0%;
    }
    to{
        width: 60%;
    }
}